{% extends 'layout.html' %}
{% block content %}
<!-- Anything here will be pulled from layout.html -->

  <!-- <center><h2>CypherCrescent HSE image classification Playgroud - drag and drop demo</h2></center> -->
    <div id="modules">

      <div>
        <center><img alt="CypherCrescent" src="https://www.cyphercrescent.com.ng/system/cms/themes/bootstrap_four_01_2018/img/home-slider/sepal-diap-slider-one.jpg" style="width:100% fit-content; height: 100%;"></a></center>
      </div>
    <!-- {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #5CADE6; margin: 10%; min-height: 400px;') }}

    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }} -->
  </div>
  


  {% endblock %}

  