<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>NAICE ML Demo - {{ title }}</title>
    {% else %}
        <title>NAICE ML Demo</title>
    {% endif %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <header class="mb-4">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                       
                        <a class="navbar-brand" href="{{ url_for('upload') }}"><img class="img-fluid large-logo" alt="CypherCrescent" src="https://www.cyphercrescent.com.ng/system/cms/themes/bootstrap_four_01_2018/img/logo/cyphercrescent-logo.png" style="width: fit-content; height: 30px;"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto mr-3">
                                <a style="color: #343a40; font-weight: bold;" class="nav-item nav-link" href="{{ url_for('hseDemo') }}">HSE Demo</a>
                                <a style="color: #343a40; font-weight: bold;" class="nav-item nav-link" href="{{ url_for('drillBitDemo') }}">Drill Bit Demo</a>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
            <!-- <div>
                <img class="img-fluid large-logo" alt="CypherCrescent" src="https://www.cyphercrescent.com.ng/system/cms/themes/bootstrap_four_01_2018/img/logo/cyphercrescent-logo.png">
            </div> -->
        </div>
        <div class="home-header" >
            <section ><div><center><h1 class="text-white"><small>CypherCrescent Image Classification Playground</small><br> Drag and Drop Demo {{ title }}</h1></div></center></section>        
        </div>

        {% block content %}
            <!-- Anything here will be ignored by index.html-->
        {% endblock %}
        
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        

        <div class="secondary-footer"><div class="container"><div class="row"><div class="col" id="copy-right"><div>© <span class="secondary-font">2021</span> CypherCrescent Ltd. All Right Reserved</div></div><div class="col" id="privacy"><ul class="list-inline float-right"> <li class="list-inline-item"><a href="https://www.cyphercrescent.com.ng/privacy-policy" style="color: #fff;">Privacy</a></li> <li class="list-inline-item"><a href="https://www.cyphercrescent.com.ng/terms-of-use" style="color: #fff;">Terms of use</a></li> <li class="list-inline-item"><a href="https://www.cyphercrescent.com.ng/#" style="color: #fff;">How we use cookies</a></li> </ul></div></div></div></div> 
</body>

</html>